<div class="container">
        <div class="weather-search">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                            <form class="form-inline" role="form">
                                    <div class="col-xs-8">
                                        <p>Your Saved Locations</p>
                                        <span class="btn-group" >
                                            
                                            <span ng-repeat="item in savedLocations"  class="btn btn-default">
                                                <span ng-click="setLocation(item.location)">{{item.location}}</span>
                                                <span ng-click="removeLocation(item.location)">x</span>    
                                            </span>
                                        </span>
                                    </div>
                                    <!-- <div class="col-xs-4" style="float:right">
                                        <p>Search new City</p>
                                        <span class="form-group {{hasLocation}}">
                                            <label class="sr-only" for="location">City</label>
                                            <input ng-model="location" type="text" class="form-control" id="location" placeholder="City">
                                        </span>
                                        <button ng-click="getForecastByLocation(location)" type="submit" class="btn btn-primary">Search!</button>
                                        <p ng-show="message" class="alert">{{message}}<span class="glyphicon glyphicon-arrow-up">&nbsp;</span></p>
        
                                    </div> -->
                                   
                                </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="weather-data" ng-show="true">
            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <h3>
                            <span>Forecast for:</span>
                            {{forecast.city.name }}, {{forecast.city.state | isoCountry}}, {{forecast.city.country | isoCountry}}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4" ng-repeat="forecast in forecast.list">
                    <div forecast-panel="forecast" show-entry="forecast"></div>
                </div>
                <!-- <div class="col-xs-4">
                    <div forecast-panel="forecast" show-entry="forecast.list[0]"></div>
                </div>
                 <div class="col-xs-4">
                    <div forecast-panel="forecast" show-entry="forecast.list[1]"></div>
                </div>
                <div class="col-xs-4">
                    <div forecast-panel="forecast" show-entry="forecast.list[2]"></div>
                </div>
                <div class="col-xs-4">
                    <div forecast-panel="forecast" show-entry="forecast.list[3]"></div>
                </div>
                <div class="col-xs-4">
                        <div forecast-panel="forecast" show-entry="forecast.list[4]"></div>
                </div> -->
            </div>
        </div>
    </div>